fastapi
uvicorn
firebase-admin
pydantic==2.10.4
email-validator 
qrcode[pil]
pandas
numpy==1.23.5        
tensorflow
scikit-learn>=1.2
catboost
xgboost
lightgbm
joblib
Pillow
easyocr
arabic-reshaper
python-bidi           
matplotlib
plotly
graphviz
openpyxl
pytz
python-dotenv
requests
python-multipart     
